body {
  font-family: 'Poppins', sans-serif;
  background-color: #122b51;
  color: #ffffff;
}

h1 {
  font-weight: 600;
}

h2 {
  margin-top: 40px;
  font-weight: 600;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.list-group-item button {
  margin-left: 15px;
}

.social-buttons {
  margin-top: 10px;
}

footer {
  padding: 10px;
  background-color: #000;
}
.modal {
  z-index: 1050;
}
.modal-backdrop {
  z-index: 1040;
}
.custom-padding-row {
  padding-bottom: 200px !important;
}
